@mixin word-break {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: normal;
    -moz-word-break: normal;
    -o-word-break: normal;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: normal;
    /* Instead use this non-standard one: */
    word-break: normal;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
}
