.card-panel {
  transition: box-shadow 0.25s;
  padding: $card-padding;
  margin: $element-top-margin 0 $element-bottom-margin;
  border-radius: 0;
  @extend .z-depth-1;
  background-color: $card-bg-color;
}

.card-linkable {
  display: block;
  color: $primary-color-dark;
}

.card {
  position: relative;
  margin: $element-top-margin 0 $element-bottom-margin;
  background-color: $card-bg-color;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  border: solid 1px $gray-lighter;
  @include translate(0,0);
  @include transition(all .3s ease-in);
  @extend .z-depth-1;

  &:hover {
    @include translate(0,-5px);
    @extend .z-depth-2;
  }

  .card-title {
    font-size: 24px;
    font-weight: 400;

    &.activator {
      cursor: pointer;
    }
  }
  // Card Sizes
  &.large,
  &.medium,
  &.small {
    position: relative;

    .card-image {
      max-height: 60%;
      // overflow: hidden;
    }

    .card-image + .card-content {
      max-height: 40%;
    }

    .card-content {
      max-height: 100%;
      overflow: hidden;
    }

    .card-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.small {
    height: 300px;

    h3 {
      &.card-title {
        font-size: 16px;
        line-height: 26px;
        margin-top: 0;
        @media #{$medium-and-down} {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  &.medium {
    height: 400px;
  }

  &.large {
    height: 500px;
  }
  // Horizontal Cards
  &.horizontal {
    &.large,
    &.medium,
    &.small {
      .card-image {
        height: 100%;
        max-height: none;
        overflow: visible;

        img {
          height: 100%;
        }
      }
    }
    display: flex;

    .card-image {
      max-width: 50%;

      img {
        // border-radius: 2px 0 0 2px;
        max-width: 100%;
        width: auto;
      }
    }

    .card-stacked {
      display: flex;
      flex-direction: column;
      flex: 1;
      position: relative;

      .card-content {
        flex-grow: 1;
      }
    }
  }
  // Sticky Action Section
  &.sticky-action {
    .card-action {
      z-index: 2;
    }

    .card-reveal {
      z-index: 1;
      padding-bottom: 64px;
    }
  }

  .card-image {
    position: relative;
    // Image background for content
    border-bottom: solid 1px $gray-lighter;
    img {
      display: block;
      // border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    .card-title {
      color: $card-bg-color;
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%;
      padding: $card-padding;
    }
  }

  .card-content {
    padding: $card-padding;
    // border-radius: 0 0 2px 2px;
    p {
      margin: 0;
      color: inherit;
    }

    .card-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px;

      i {
        line-height: 32px;
      }
    }
  }

  .card-action {
    // &:last-child {
    //   border-radius: 0 0 2px 2px;
    // }
    text-align: right;
    position: relative;
    background-color: inherit;
    // border-top: 1px solid rgba(160,160,160,.2);
    // padding: 16px $card-padding;
    a:not(.btn):not(.btn-large):not(.btn-floating) {
      color: $card-link-color;
      display: inline-block;
      // margin-right: $card-padding;
      padding: 16px ($card-padding + 10);
      transition: color 0.3s ease;
      text-transform: uppercase;
      background-color: $gray-base;

      &:hover {
        color: $card-link-color-light;
      }
    }
  }

  .card-reveal {
    padding: $card-padding;
    position: absolute;
    background-color: $card-bg-color;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;

    .card-title {
      cursor: pointer;
      display: block;
      @include clearfix;
    }
  }
}
.card-schedule{
  .card-date{
    background-color: $primary-color;
    color: #fff;
    position: relative;
    height: 170px;
    padding: $gutter-width / 2;
    margin-bottom: $gutter-width / 3;
    >h3{
      margin:0 auto;
    }
    > .card-longterm{
      position: absolute;
      bottom: 0;
      right: 0;
      padding: ($gutter-width / 2) $gutter-width;
      color: $primary-color-dark;
      background-color: #fff;
      border-bottom: solid 3px $secondary-color;
    }
  }
  .card-sche-capt{
    font-size: 85%;
    height: 80px;
  }
  @media #{$medium-and-down}{
    .card-date{
      height: 150px;
      margin-bottom: $gutter-width / 4;
      > .card-longterm{

      }
    }
  }

}
