.collapsible {
  // border-top: 1px solid $collapsible-border-color;
  // border-right: 1px solid $collapsible-border-color;
  // border-left: 1px solid $collapsible-border-color;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  // @extend .z-depth-1;
  >li{
    //padding: 0 $sidenav-padding;
    position: relative;
    &.active{
      &:before{
        content: '';
        width: 1px;
        height: calc(100% - 40px);
        left: 15px;
        top: 30px;
        position: absolute;
        background-color: $primary-color;
      }
    }
  }
}

.collapsible-header {
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  min-height: $collapsible-height;
  line-height: $collapsible-line-height;
  // padding: 0 1rem;
  padding-bottom: $gutter-width / 2;
  background-color: $collapsible-header-color;
  //border-top: 1px solid $collapsible-border-color;

  i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: $collapsible-line-height;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
  }
  >.collapsible-title{
    font-size: 1.6rem;
    padding-left: 40px;
    margin: auto;
    @media #{$medium-and-down}{
      font-size: 1.4rem;
      line-height: 1.8;
    }
  }
  > .collapsible-caret{
    margin-right: 0.6rem;
    position: absolute;
    display: inline-block;
    width: 30px;
    padding: 9px;
    height: 30px;
    border: solid 1px $primary-color;
    vertical-align: middle;
    @include transition(all .3s ease-in);
    @include rotate(0deg);
    @extend .img-circle;
    i{
      font-size: .8rem;
      line-height: 1;
      width: auto;
      float: none;
      margin-right: auto;
    }
  }
  &.active{
    >.collapsible-caret{
      @include rotate(90deg);
    }
  }
}

.collapsible-body {
  display: none;
  // border-bottom: 1px solid $collapsible-border-color;
  box-sizing: border-box;
  padding: 0 ($gutter-width / 2) ($gutter-width) 2rem;
}

// sideNav collapsible styling
.side-nav,
.side-nav.fixed {

  .collapsible {
    border: none;
    box-shadow: none;

    li {
      padding: 0;
      &.active{
        &:before{
          height: calc(100% - 31px);
          top: 31px;
          left: 25px;
        }
      }
    }
    &.collapsible-sub{
      margin-left: 10px;
      .collapsible-header{
        height: auto;
        line-height: 1.5;
        padding: ($sidenav-padding / 1.5) $sidenav-padding ($sidenav-padding / 2) 0;
      }
      li {
        padding: 0;
        &.active{
          &:before{
            left: 10px;
          }
        }
      }
    }

  }

  .collapsible-header {
    background-color: transparent;
    border: none;
    height: auto;
    line-height: 1.5;
    padding: ($sidenav-padding / 1.5) $sidenav-padding;
    // line-height: inherit;
    // height: inherit;
    // padding: 0 $sidenav-padding;

    &:hover {
      //background-color: $gray-lighter;
    }
    i { line-height: inherit; }
    >.collapsible-title{
      font-size: 14px;
      padding-left: 30px;
      margin: auto;
      line-height: 24px;
    }
    > .collapsible-caret{
      width: 20px;
      padding: 4px;
      height: 20px;
      top: 12px;
      i{
        font-size: 10px;
        line-height: 1;
        width: auto;
        float: none;
        margin-right: auto;
      }
    }
  }

  .collapsible-body {
    border: 0;
    margin-left: 30px;
    //background-color: $collapsible-header-color;
    background-color: $gray-lighter;
    li a {
      line-height: 1.5;
      // padding: 0 (7.5px + $sidenav-padding)
      //          0 (15px + $sidenav-padding);
      padding: ($sidenav-padding / 1.5) ($sidenav-padding);
    }
    >.sub-menu-collapse{
      >li{
        a{
          height: auto;
          line-height: 1.5;
          padding: $sidenav-padding $sidenav-padding $sidenav-padding 0;
        }
      }
    }
  }

}

// Popout Collapsible

.collapsible.popout {
  border: none;
  box-shadow: none;
  > li {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    // transform: scaleX(.92);
    margin: 0 24px;
    transition: margin .35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }
  > li.active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin: 16px 0;
    // transform: scaleX(1);
  }
}
