section{
  padding-top: $gutter-width * 2;
  padding-bottom: $gutter-width * 2;
  @media #{$medium-and-down}{
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
  }
}
.hide-xs{
  @media #{$medium-and-down}{
    display: none;
  }
}

.padd-ver-5{
  padding-top: $gutter-width / 2;
  padding-bottom: $gutter-width / 2;
}
.margbot{
  margin-bottom: $gutter-width;
}
.img-circle{
  border-radius: 50%;
}
.abs-center{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.abs-vmiddle{
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: auto;
  @include translate(0,-50%);
}
.scrollable-y{
  @extend .abs-center;
  overflow-y: auto;
  height: 100%;
};
.inblock{
  display: inline-block;
}
.overlay-base{
  background-color: rgba(0,0,0,.3);
  @extend .abs-center;
}
.bg-cover{
  @include bg-cover;
}
.logogram {
  height: 55px;
  width: 97px;
  display: inline-block;
  background-image: url('../images/logo-tiara@1.5x.png');
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  // @include transition(all .3s);
  @media #{$medium-and-down}{
    height: 48px;
    width: 86px;
  }
}
.nav-primary{
  margin-top: 7.5px;
  &:before{
    content: '';
    z-index: -1;
    height: 64px;
    margin-top: -8px;
    width: 100%;
    position: absolute;
    display: block;
    @include transition(all .3s);
    @include gradient-vertical(rgba(0,0,0,.7), rgba(0,0,0,0), 0%, 100%);
  }
  &:after{
    content: '';
    z-index: -1;
    top:0;
    height: 0;
    margin-top: -8px;
    width: 100%;
    position: absolute;
    display: block;
    background-color: rgba(255,255,255,1);
    @include transition(all .3s);
  }
  .button-collapse{
    display: block;
    overflow: hidden;
    width: 0;
    @include transition(all .3s);
    @media #{$medium-and-down}{
      width: 34px;
    }
  }
  &.nav-change{
    margin-top: 0;
    background-color: rgba(255,255,255,1);
    border-bottom: solid 1px $gray-lighter;
    .logogram{
      background-position: 0 -55px;
      @media #{$medium-and-down}{
        background-position: 0 -50px;
      }
    }
    &:before{
      height: 0;
    }
    &:after{
      height: 63px;
    }
    ul{
      li{
        a {
          color: $gray-base;
        }
        .btn-outline-inverse{
          border-color: $gray-base;
        }
      }
    }
    .brand-logo{
      margin-left: 44px;
    }
    .button-collapse{
      display: block;
      width: 34px;
      color: $gray-base;
      > .button-collapse{
        display: block;
      }
    }
  }
}
.nav-secondary{
  width: 100%;
  z-index: 9;
  position: absolute;
  .container > ul{
    background-color: rgba(3,50,152,.5);
    border-radius: 5px;
    list-style: none;
    margin: 15px auto;
    padding: 0 15px;
    >li{
      display: inline;
      >a{
        display: inline-block;
        padding: 15px;
        color: white;
      }
    }
  }
  @media #{$medium-and-down}{
    display: none;
  }
}
.banner-hero{
  margin-top: -65px;
  position: relative;
  background: $gray-base;
  .banner-hero-item{
    height: 600px;
    position: relative;
    overflow: hidden;
    @include bg-cover;
    .caption-hero{
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      color: #fff;
      text-align: center;
      @include translate(0,-40%);
      h1,h2{
        margin-top: 0;
        margin-bottom: $gutter-width / 2;
        font-size: 4em;
        font-weight: bold;
      }
    }
    >img{
      @extend .abs-center;
    }
    .media{
      text-align: left;
      >.media-left{
        >img{
          max-width: 200px;
          border: solid 5px #fff;
        }
      }
    }
    @media #{$medium-and-down}{
      height: 450px;
      .caption-hero{
        h1,h2{
          font-size: 1.8em;
        }
        .media{
          text-align: center;
          >.media-left,
          >.media-body{
            display: block;
          }
          >.media-left{
            img{
              margin-bottom: $gutter-width / 2;
              max-width: 120px;
            }
          }
          >.media-body{
            width: auto;
            >p{
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .nav-hero{
    position: absolute;
    right: 0;
    bottom: 0;
    @media #{$medium-and-down}{
      display: none;
    }
    >.btn-box{
      float: left;
      font-size: 2rem;
    }
  }
}
.title{
  font-size: 2.55rem;
  position: relative;
  padding-left: 20px;
  > span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: $secondary-color;
    margin-right: 10px;
    margin-left: -20px;
    vertical-align: top;
  }
  &.inverse{
    color: #fff;
  }
  &.center{
    text-align: center;
  }
  @media #{$medium-and-down}{
    font-size: 2rem;
  }
}
.article-text{
  font-size: 18px;
  line-height: 32px;
  @media #{$medium-and-down}{
    font-size: 16px;
    line-height: 28px;
  }
}
.box-presentasion{
  @include clearfix;
  position: relative;
  .box-caption-wrapper{
    float: left;
    width: 55%;
    padding: ($gutter-width * 3)($gutter-width * 4.5);
  }
  .box-img{
    width: 45%;
    float: left;
  }
  &:nth-child(odd){
    .box-img{
      float: right;
    }
  }
  @media #{$medium-and-down}{
    .box-caption-wrapper{
      float: clear;
      width: 100%;
      padding: ($gutter-width / 2) $gutter-width $gutter-width;
      .caption{
        h4{
          font-size: 2rem;
          margin-top: 0;
        }
      }
    }
    .box-img{
      width: 100%;
    }
    &.box-left{
      .box-img{
        float: clear;
        padding-right: $gutter-width;
      }
    }
    &.box-right{
      .box-img{
        float: clear;
        padding-left: $gutter-width;
      }
    }
  }
}
.wrapper-offer{
  overflow: hidden;
  width: 100%;
  margin-bottom: $gutter-width;
  .offer-clip-item{
    display: block;
    position: relative;
    height: 320px;
    float: left;
    overflow: hidden;
    &:hover .img-clip-wrap > img{

    }
    &:nth-child(1){
      width: 35%;
      .img-clip-wrap {
        -webkit-clip-path: polygon(0 0, 82% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 82% 0, 100% 100%, 0 100%);
      }
      .caption-offer{
        h3{
          padding:15px 40px 15px 20px;
        }
      }
    }
    &:nth-child(2){
      width: 40%;
      margin: auto -5%;
      .img-clip-wrap {
        -webkit-clip-path: polygon(0 0, 82% 0, 100% 100%, 18% 100%);
        clip-path: polygon(0 0, 82% 0, 100% 100%, 18% 100%);
      }
      .caption-offer{
        h3{
          padding:15px 40px 15px 20px;
        }
      }
    }
    &:nth-child(3){
      width: 35%;
      .img-clip-wrap {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
      }
      .caption-offer{
        h3{
          padding:15px 20px 15px 40px;
        }
      }
    }
  }
  .caption-offer{
    text-align: right;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    &:before{
      content: '';
      height: 7px;
      background-color: rgba(255,202,0,.7);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    h3{
      max-width: 60%;
      position: relative;
      display: inline-block;
      margin: 0;
      text-transform: uppercase;
      font-size: 2rem;
      background-color: rgba(3,50,151,.75);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    }
  }
  @media #{$medium-and-down}{
    .offer-clip-item{
      float: none;
      height: 200px;
      margin-bottom: $gutter-width / 2;
      &:nth-child(1){
        width: 100%;
        .img-clip-wrap {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        .caption-offer{
          h3{
            padding:15px 40px 15px 20px;
          }
        }
      }
      &:nth-child(2){
        width: 100%;
        margin: auto auto ($gutter-width / 2);
        .img-clip-wrap {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
        .caption-offer{
          h3{
            padding:15px 40px 15px 20px;
          }
        }
      }
      &:nth-child(3){
        width: 100%;
        .img-clip-wrap {
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        .caption-offer{
          h3{
            padding:15px 40px 15px 20px;
          }
        }
      }
    }
    .caption-offer{
      h3{
        max-width: 80%;
        font-size: 1.5rem;
      }
    }
  }
}
.exp-slick-home{
  padding: ($gutter-width / 2) 0;
  margin-bottom: $gutter-width;
  .slick-slide img {
    display: inline-block;
  }
}

.img-profile{
  @extend .img-circle;
  display: inline-block;
  padding: 15px;
  width: 220px;
  height: 220px;
  border: solid 1px $secondary-color;
  margin-bottom: $gutter-width;
}
.padd-slick{
  .slick-slide{
    padding-left: $gutter-width;
    padding-right: $gutter-width;
      @media #{$medium-and-down}{
        padding-left: $gutter-width / 2;
        padding-right: $gutter-width / 2;
      }
  }
}
.list-service{
  li{
    margin-top: $gutter-width / 2;
    border: solid 1px $gray-lighter;
    @extend .z-depth-1;
  }
  .media-left{
    padding-right: 0;
  }
  .media-body{
    padding: $gutter-width / 2;
    // background-color: $gray-lighter;
  }
  .media-thumb-spacing{
    width: 150px;
    min-height: 90px;
    border-top: solid 3px $secondary-color;
  }
  @media #{$medium-and-down}{
    .media-left{
      display: block;
    }
    .media-body{
      display: block;
      width: auto;
    }
    .media-thumb-spacing{
      width: auto;
    }
  }
}
.divider-share{
  width: 150px;
  height: 1px;
  background-color: $gray-light;
  margin: ($gutter-width) auto;
}
.share-sosmed{
  width: 300px;
  padding: ($gutter-width / 2) 0;
  margin: auto;
  @include clearfix;
  >span{
    float: left;
    margin-top: 5px;
  }
  > ul {
    margin: auto;
    float: right;
    li{
      display: inline;
      margin-right: 5px;
      &:last-child{
        margin-right: 0;
      }
      >a{
        @include translate(0,0);
        @include transition(all .3s ease-in);
        &:hover{
          @include translate(0,-5px);
        }
      }
    }
  }
  @media #{$medium-and-down}{
    width: 100%;
  }
}
.ask-us{
  >.media-left{
    padding-right: $gutter-width;
  }
  .media-heading{
    margin-bottom: $gutter-width;
  }
  .ask-contact{
    position: relative;
    P{
      padding-left: $gutter-width;
      word-break: break-all;
      > [classˆ="icon-"],
      > [class*="icon-"]{
        position: absolute;
        left: 0;
        top: 5px;
      }

    }
  }
  @media #{$medium-and-down}{
    //text-align: center;
    >.media-left{
      padding-right: $gutter-width / 2;
      // display: block;
      >.img-profile{
        padding: 5px;
        width: 75px;
        height: 75px;
        margin-bottom: $gutter-width / 2;
      }
    }
    >.media-body{
      // display: block;
      // width: auto;
      .media-heading{
        font-size: 16px;
        margin-bottom: $gutter-width / 2;
      }
      .ask-contact{
        P{
          font-size: 12px;
          margin-bottom: $gutter-width / 4;
          > [classˆ="icon-"],
          > [class*="icon-"]{
            top: 3px;
          }
        }
      }
    }

  }
}
.img-file{
  height: 150px;
  padding-top: 40px;
  text-align: center;
  color: #fff;
  > [classˆ="icon-"],
  > [class*="icon-"]{
    font-size: 3rem;
  }
  &.img-audio{
    background-color: color("light-blue", "base");
  }
  &.img-image{
    background-color: color("purple", "base");
  }
  &.img-rar{
    background-color: color("red", "darken-4");
  }
  &.img-video{
    background-color: color("green", "darken-2");
  }
  &.img-document{
    background-color: color("blue", "darken-4");
  }
}
.wrapper-login{
  overflow: hidden;
  position: relative;
  min-height: 400px;
  width: 100%;
}
.loginform, .forgot-pass{
  width: 100%;
  position: absolute;
  padding: $gutter-width / 4;
  @include translate(-100%,0);
  @include transition(all .3s);
  &.showup{
    @include translate(0,0);
  }
}
.follow-sosmed{
  @include clearfix;
  line-height: 1.5 !important;
  background-color: lighten($secondary-color, 5%);
  position: fixed;
  bottom: 60px;
  width: 100%;

  >small{
    width: 30%;
    float: left;
    display: inline-block;
    padding: $sidenav-padding;
  }
  >ul{
    margin: auto;
    float: right;
    display: inline-block;
    width: 70%;
    padding: 8px 3px 3px 0;
    li{
      text-align: right;
      display: inline-block;
      line-height: 1;
      float: right;
      a{
        padding: 5px;
        display: inline-block;
        line-height: 1;
        i{
          font-size: 1.5rem;
          line-height: 1;
          margin: auto;
          height: auto;
          width: auto;
        }
      }
    }
  }
}
/*.element {
  position: relative;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
  -webkit-clip-path: url("#clip-shape"); required for Webkit/Blink browsers if you're using only inline SVG clipping paths, but not CSS clip-path
  clip-path: url("#clip-shape");
}*/
