.nav-primary{
  
}
.nav-secondary{
  width: 100%;
  z-index: 9;
  position: absolute;
  .container > ul{
    background-color: rgba(3,50,152,.5);
    border-radius: 5px;
    list-style: none;
    margin: 15px auto;
    padding: 0 15px;
    >li{
      display: inline;
      >a{
        display: inline-block;
        padding: 15px;
        color: white;
      }
    }
  }
}
.banner-hero{
  margin-top: -65px;
  background: $gray-base;
  .banner-hero-item{
    height: 600px;
    overflow: hidden;
    img{
      width: 100%;
      opacity: .7;
    }
  }
}
