section{
  padding-top: $gutter-width * 2;
  padding-bottom: $gutter-width * 2;
  @media #{$medium-and-down}{
    padding-top: $gutter-width;
    padding-bottom: $gutter-width;
  }
}
.abs-center{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.overlay-base{
  background-color: rgba(0,0,0,.3);
  @extend .abs-center;
}
.logogram {
  height: 55px;
  width: 160px;
  display: inline-block;
  background-image: url('../images/logo-tiara@1.5x.png');
  background-size: 60%;
  background-position: 0 0;
  background-repeat: no-repeat;
  @include transition(all .3s);
  @media #{$medium-and-down}{
    height: 50px;
    width: 140px;
    background-size:63%;
  }
}
.nav-primary{
  margin-top: 7.5px;
  &:before{
    content: '';
    z-index: -1;
    height: 70px;
    margin-top: -8px;
    width: 100%;
    position: absolute;
    display: block;
    @include gradient-vertical(rgba(0,0,0,.7), rgba(0,0,0,0), 0%, 100%);
  }
  &:after{
    content: '';
    z-index: -1;
    top:0;
    height: 0;
    margin-top: -8px;
    width: 100%;
    position: absolute;
    display: block;
    background-color: rgba(255,255,255,1);
  }
  .nav-collapse{
    display: block;
    width: 0;
    @include transition(all .3s);
    @media #{$medium-and-down}{
      width: 34px;
    }
  }
  &.nav-change{
    margin-top: 0;
    background-color: rgba(255,255,255,1);
    .logogram{
      background-position: 0 -55px;
      @media #{$medium-and-down}{
        background-position: 0 -47px;
      }
    }
    &:after{
      height: 70px;
    }
    ul{
      li{
        a {
          color: $gray-base;
        }
        .btn-outline-inverse{
          border-color: $gray-base;
        }
      }
    }
    .nav-collapse{
      display: block;
      width: 54px;
      @media #{$medium-and-down}{
        width: 34px;
      }
      > .button-collapse{
        display: block;
      }
    }
  }
}
.nav-secondary{
  width: 100%;
  z-index: 9;
  position: absolute;
  .container > ul{
    background-color: rgba(3,50,152,.5);
    border-radius: 5px;
    list-style: none;
    margin: 15px auto;
    padding: 0 15px;
    >li{
      display: inline;
      >a{
        display: inline-block;
        padding: 15px;
        color: white;
      }
    }
  }
  @media #{$medium-and-down}{
    display: none;
  }
}
.banner-hero{
  margin-top: -65px;
  position: relative;
  background: $gray-base;
  .banner-hero-item{
    height: 600px;
    position: relative;
    overflow: hidden;
    @include bg-cover;
    .caption-hero{
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      color: #fff;
      text-align: center;
      @include translate(0,-40%);
      h1,h2{
        font-size: 4em;
        font-weight: bold;
      }
    }
    img{
      @extend .abs-center;
    }
    @media #{$medium-and-down}{
      height: 450px;
      .caption-hero{
        h1,h2{
          font-size: 2.8em;
        }
      }
    }
  }
  .nav-hero{
    position: absolute;
    right: 0;
    bottom: 0;
    @media #{$medium-and-down}{
      display: none;
    }
    >.btn-box{
      float: left;
      font-size: 2em;
    }
  }
}
.title{
  font-size: 2.3em;
  position: relative;
  padding-left: 20px;
  > span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: $secondary-color;
    margin-right: 10px;
    margin-left: -20px;
    vertical-align: top;
  }
  &.center{
    text-align: center;
  }
}
.article-text{
  font-size: 18px;
  line-height: 32px;
}
